header {
    z-index: 100;
}
main {
    width: 100%;
    font-size: 14px;
}

/* サイドバー */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background: rgb(222, 230, 255);
}
.sidebar_button {
    width: 250px;
    height: 90px;
    background: rgb(53, 96, 246);
    border-radius: 10px;
    margin: 20px auto;
    font-size: 20px;
}
.sidebar_button a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}
.sidebar_button-content {
    text-align: center;
    padding: 15px;
    color: white;
}
.button_push {
    background: rgb(41, 57, 100);
}
/* メイン画面 */
.content_wrap {
    min-width: 1000px;
    padding-left: 150px;
    margin-top: 100px;
}
.content_title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* 検索フォーム */
.search_wrap {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.search_content {
    width: 90%;
    margin: 0 auto;
}
input,select {
    border: 1px solid rgb(138, 138, 138);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 5px;
}
.button_search {
    cursor: pointer;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: rgb(53, 96, 246);
    color: white;
    line-height: 30px;
    margin: 10px 0;
}

/* 検索結果 */
.result_wrap {
    background: transparent;
}
.result_content {
    width: 90%;
    margin: 20px auto 0;
}
.result_table {
    width: 100%;
    text-align: left;
    line-height: 2.0em;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.result_table th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.result_table tr:nth-of-type(2n) {
    background: rgb(222, 230, 255);
}

/* pagination */
.pagination__wrap {
    display: flex;
    justify-content: space-between;
}
.pagination {
    display: flex;
}
.pagination li {
    border: 1px solid rgb(53, 96, 246);
    border-collapse: collapse;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.pagination li a {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
}
.active {
    color: white;
    background: rgb(53, 96, 246);
}

/* 飲食店情報 */
.shop_info-flex {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto 0;
}
.shop_image,
.shop_info {
    width: 500px;
}
.shop_info th,
.shop_info td {
    border-collapse: collapse;
    border: 1px solid rgb(0, 17, 80);
    padding: 10px;
}
.shop_info th {
    color: white;
    width: 100px;
    background: rgb(53, 96, 246);
}
.shop_info td {
    color: black;
    background: rgb(238, 238, 238);
}

/* レスポンシブ対応(break point:768px) */
@media screen and (max-width: 768px) {
}