main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 350px;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
}
.card_title {
    text-align: left;
    color: white;
    background: rgb(53, 96, 246);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px;
}
.form_wrap {
    position: relative;
    padding: 20px 0;
}
img {
    width: 20px;
}
input,select {
    width: 75%;
    height: 28px;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding-left: 5px;
}
.auth_button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#remember_me {
    width: 20px;
    height: 20px;
}
.remember_wrap {
    font-size: 12px;
    margin: 15px 0 auto 25px;
}
button {
    border: none;
    font-size: 12px;
    color: white;
    background: rgb(53, 96, 246);
    border-radius: 4px;
    padding: 4px 14px;
    cursor: pointer;
    margin: 15px 25px 0 0;
}
.error {
    text-align: left;
    margin-left: 55px;
}
.delete_wrap {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.delete_wrap button {
    margin: auto;
}
.back_button {
    display: block;
    width: 100px;
    height: 30px;
    background: rgb(53, 96, 246);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}