main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 350px;
    /* height: 250px; */
    height: fit-content;
    border-radius: 5px;
    text-align: center;
}
.card_title {
    text-align: left;
    color: white;
    background: rgb(53, 96, 246);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px;
}
.form_wrap {
    position: relative;
    padding: 20px 0;
}
img {
    width: 20px;
}
input {
    width: 75%;
    height: 28px;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding-left: 5px;
}
.auth_button {
    display: flex;
    flex-direction: row-reverse;
}
button {
    border: none;
    font-size: 12px;
    color: white;
    background: rgb(53, 96, 246);
    border-radius: 4px;
    padding: 4px 14px;
    cursor: pointer;
    margin: 15px 25px 0 0;
}
.error {
    text-align: left;
    margin-left: 55px;
}
