.flex_container {
    display: flex;
    width: 80%;
    min-width: 900px;
    margin: auto;
    justify-content: space-between;
}
header {
    position: unset;
    width: 100%;
}
main,
.evaluation_wrap {
    position: relative;
    width: 85%;
    line-height: 1.4em;
}
.evaluation_wrap {
    margin-top: 40px;
    color: white;
    border-radius: 10px;
    background: rgb(53, 96, 246);
}
.evaluation_wrap h1 {
    font-size: 22px;
    margin: 0 0 20px 10px;
}
.image {
    width: 100%;
    background: rgb(255, 232, 232);
}
.image img {
    width: 100%;
}
.tag {
    margin: 10px 0;
}
.tag a {
    color: black;
    font-size: 14px;
}
main p {
    font-size: 14px;
}
#grade {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 1px; /* バーの高さ */
  width: 80%; /* バーの幅 */
  background: #8acdff; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 3px #dff1ff; /* バー周囲の線 */
  display: block;
  margin: 0 auto 30px;
}
#comment {
    resize: none;
    border: none;
    border-radius: 5px;
    width: 80%;
    display: block;
    margin: 10px auto;
    padding: 10px;
}
.submit {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: rgb(0, 63, 245);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 50px;
}
.submit button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.submit button:hover {
    color: rgb(0, 63, 245);
    background: rgb(144, 174, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.back {
    background: white;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    text-align: center;
    line-height: 28px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
.shop_name {
    font-size: 26px;
    line-height: 1em;
}
.info_title {
    margin: 40px 0 20px;
}

/* レスポンシブ対応(break point:768px) */
@media screen and (max-width: 768px) {
    .flex_container {
        display: block;
        width: 90%;
        min-width: 320px;
    }
    main {
        margin: auto;
    }
    .reservation_wrap {
        margin: 20px auto;
    }
    .reservation_confirm {
        margin: 10px auto 30px;
    }
    .submit p {
        font-size: 12px;
    }
}