.card_detail a {
    text-decoration: none;
    color: white;
}
.header_content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 1300px;
    margin: auto;
}
main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: left; */
    justify-content: space-between;
    width: 80%;
    min-width: 1300px;
    margin: 100px auto 0;
}
.search_wrap {
    position: absolute;
    right: 140px;
    top: 30px;
    width: 650px;
    height: 50px;
    background: white;
    border-radius: 5px;
}
input,
select {
    height: 40px;
    border: none;
    padding-left: 10px;
}
input {
    width: 400px;
}
select {
    cursor: pointer;
    width: 100px;
}
.card_wrap {
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
    margin: 10px 10px;
    border-radius: 5px;
}
.card_image {
    width: 100%;
    height: 160px;
    background: rgb(186, 255, 232);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_flex {
    display: flex;
    justify-content: space-between;
}
.card_detail {
    background: blue;
    color: white;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 12px;
}
.card_tag a {
    color: black;
}
